/*
Proptrics.com
Branding Colour Palette:
Colour 1: #ff8a00 (Orange) - Primary Colour.
Colour 2: #352392 (Navy Blue) - Secondary Colour.
Colour 3: #f0ffff (Azure) - Background Colour.
Colour 4: #a2aaad (Grey) - Border Colour.
Colour 5: rgba(0,0,0,.2) - Search Box Shadow.
Font: https://fonts.google.com/specimen/Text+Me+One
*/

* {
	/* background-color: #F0FFFF; */
	box-sizing: border-box;
	margin: 0px;
}

/* Make page fit to device with no scrolling with or without the top browser bar (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
	html {
		position: fixed;
	}
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #352392; /* Navy Blue*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ff8a00; /* Orange */
	display: block;
	white-space: nowrap;
	transition: 0.5s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f0ffff;
 }
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.wrapper {
	transition: 0.5s;	
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 600px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/* To be done in JS file?
/* Make menu narrower for narrower devices (portrait tablets and large phones, 600px and below)
@media only screen and (max-width: 600px) {
	.sidenav {
		width: 125px;
	}
}
*/

a {
	font-family: 'Text Me One', sans-serif;
	font-size: 3vmin;
	font-weight: 600;
	color: #352392;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: 'Text Me One', sans-serif;
	font-size: 12vmin;
	font-weight: 300;
	color: #f0ffff;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-family: 'Text Me One', sans-serif;
	font-size: 3vmin;
	font-weight: 300;
	color: #ff8a00;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

p {
	font-family: 'Text Me One', sans-serif;
	font-size: 3vmin;
	font-weight: 300;
	color: #f0ffff;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.grid-container {
	display: grid; /* Create grid. */
	background-color: #F0FFFF;
	grid-template-columns: repeat(36, 1fr);
	grid-template-rows: repeat(36, 1fr);
	/* grid-auto-rows: minmax(auto, auto); /* Originally minmax(100px, auto); */
	height: 100vh;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	z-index: -1;
}

/* Make width 100% for narrower devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
	.grid-container {
		width: 100vw;
	}
}

nav {
	grid-column: 14 / 24;
	grid-row: 3 / 5;
	z-index: 0;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

header {
	grid-column: 2 / 14;
	grid-row: 2 / 5;
	z-index: 1;
	margin-left: 10px;
	margin-top: 5px;
}

.headerLogoImage {
	max-width: 100%;
	max-height: 100%;
}

.menu {
	grid-column: 24 / 36;
	grid-row: 2 / 5;
	z-index: 1;
	margin-top: 5px;
	margin-right: 10px;
	text-align: right;
}

/* Rules for icon sizes: */
.material-icons.md-36 {
	font-size: 6vmin;
	color: #f0ffff;
}

.menu .material-icons.md-36 {
	font-size: 6vmin;
	color: #ff8a00;
}

/* Make icons larger for devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
	.material-icons.md-36 {
		font-size: 10vmin;
		color: #f0ffff;
	}
	
	.menu .material-icons.md-36 {
		font-size: 10vmin;
		color: #ff8a00;
	}
}

.hero {
	grid-column: 1 / 37;
	grid-row: 5 / 35;
	z-index: 0;
	background-image: url("daniele-levis-pelusi-fUOTndD4Tak-unsplash.jpg");
	/* background-image: url("robert-alves-de-jesus-ZzClBJhLTmM-unsplash.jpg"); */
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .8;
	border-top-style: solid;
	border-top-color: #ff8a00;
}

/* Make background image zoomed-in for devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
	.hero {
		background-size: cover;
		/* Bring Nav bar up for devices (portrait tablets and large phones, 600px and below) */
		margin-top: 0px;
	}
}

/* Make background image zoomed-in when window is set to half screen. */
@media only screen and (max-width: 825px) {
	.hero {
		background-size: cover;
		/* Bring Nav bar up for devices (portrait tablets and large phones, 600px and below) */
	}
}

.tagline {
	grid-column: 2 / 36;
	grid-row: 10 / 16;
	z-index: 0;
}

.property-search-bar-container {
	grid-column: 13 / 25;
	grid-row: 17 / 18;
	z-index: 0;
}

/* Widen Search Bar for narrower devices. */
@media only screen and (max-width: 1000px) {
	.property-search-bar-container {
		grid-column: 6 / 32;
		grid-row: 17 / 18;
		z-index: 0;
	}
}

.property-search-bar {
    font-family: Text Me One, sans-serif;
	font-size: 2vh;
	font-weight: bold;
	text-align: center;
    padding: 10px 5px;
    border-radius: 15px 15px 15px 15px;
    border: 0px;
	display: block;
	margin : 0 auto;
	min-width: 100%;
	min-height: 100%;
	box-shadow:0 2px 10px rgba(0,0,0,.2)
}

.search-button {
	grid-column: 24 / 25;
	grid-row: 17 / 18;
	z-index: 0;
}

.search-button button {
	background-color: #ff8a00;
	border-radius: 0px 15px 15px 0px;
	border-style: none;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.search-button .material-icons.md-36 {
	font-size: 8vmin;
	color: #f0ffff;
}

button {
	transition-duration: 0.4s;
}
  
button:hover {
	background-color: #352392;
}

/* Move button containers for devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 1000px) {
	.search-button {
		grid-column: 29 / 31;
		grid-row: 17 / 18;
		z-index: 0;
	}
}

.icon-container-quantity {
	grid-column: 2 / 13;
	grid-row: 21 / 26;
	z-index: 0;
	margin: auto;
}

.icon-container-financial {
	grid-column: 13 / 25;
	grid-row: 21 / 26;
	z-index: 0;
	margin: auto;
}

.icon-container-risk {
	grid-column: 25 / 36;
	grid-row: 21 / 26;
	z-index: 0;
	margin: auto;
}

.metrics-quantity {
	grid-column: 4 / 11;
	grid-row: 25 / 32;
	z-index: 0;
	background-color: #352392;
	opacity: .5;
	border-radius: 15px;
	overflow-wrap: break-word;
}

.metrics-financial {
	grid-column: 15 / 23;
	grid-row: 25 / 32;
	z-index: 0;
	background-color: #352392;
	opacity: .5;
	border-radius: 15px;
	overflow-wrap: break-word;
}

.metrics-risk {
	grid-column: 27 / 34;
	grid-row: 25 / 32;
	z-index: 0;
	background-color: #352392;
	opacity: .5;
	border-radius: 15px;
	overflow-wrap: break-word;
}

.metrics-quantity p, .metrics-financial p, .metrics-risk p {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	color: #f0ffff;
	z-index: 1;
}

footer {
	grid-column: 2 / 36;
	grid-row: 35 / 37;
	z-index: 0;
}

footer p {
	font-family: 'Text Me One', sans-serif;
	font-size: 2vmin;
	font-weight: 600;
	color: #352392;
	text-align: center;
	vertical-align: auto;
	padding-top: 15px;
}

/* Move button containers for devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 1000px) {
	footer p {
		font-size: 3vmin;
	}
}